<div class="container bckgound">
	<div class="container">
		<div class="row">
				<div class="col-md-4">
					<div class="info">	 
						 <h1>Lyudmil Dachev</h1>
							<p>Lyudmil is a bulgarian designer specialising in Web/UI Design, Graphic Design, Branding & Illustration. He has worked with various clients from all over the 									world.</p> <p>Contact me:</p>
							<a href="mailto:workwith314@gmail.com" target="_top" class="email">workwith314@gmail.com</a>
					</div>		
				</div>
			<div class="col-md-7 col-md-offset-1">				
			 	<div class="photo">
			 		<img src="img/lyudmil.jpg" class="img-responsive photo" alt="314 Lyumil Dachev">
			 	</div>
			</div>
		</div>
	</div>

</div>