<div class="container">
	<footer>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
	
				<a href="index.html"><img class="logo center-block" title="314 Lyudmil Dachev"  alt="314 Lyudmil Dachev" src="img/logo.svg" ></a>  
				<p class="ido">GRAPHICS  • ILLUSTRATIONS  • WEB  •  BRANDING</p>
				
				<nav class="fmenu">	
					<ul>						
						<li><a href="index.html">Portfolio</a></li>      
						<li><a href="about_contact.html">About &amp; Contact</a></li>        
					</ul>
				</nav>
				<a href="#"><p class="footertype">more work from me can be found at my previous site.</p></a>
	  		</div>
	  	</div>
	</footer>
   
</div><!--container-->


	<!-- Le javascript
	================================================== -->
        <!--Placed at the end of the document so the pages load faster
	     jQuery (necessary for Bootstrap's JavaScript plugins)
	    <script src="https://code.jquery.com/jquery.js"></script>
	    Include all compiled plugins (below), or include individual files as needed 
	    <script src="js/bootstrap.min.js"></script> -->

</body>
</html>