	<div class="container-fluid bckgound">
	<div class="row">
		<div class="col-sx-12">
		
			<ul class="cbp-rfgrid">
				<li><a href="#"><img src="img/projects/1.jpg" /><div><h3>Felis catus</h3></div></a></li>
				<li><a href="#"><img src="img/projects/2.jpg" /><div><h3>Felis catus</h3></div></a></li>
				<li><a href="#"><img src="img/projects/1.jpg" /><div><h3>Felis catus</h3></div></a></li>
				<li><a href="#"><img src="img/projects/2.jpg" /><div><h3>Felis catus</h3></div></a></li>
				<li><a href="#"><img src="img/projects/1.jpg" /><div><h3>Felis catus</h3></div></a></li>
				<li><a href="#"><img src="img/projects/2.jpg" /><div><h3>Felis catus</h3></div></a></li>
				<li><a href="#"><img src="img/projects/1.jpg" /><div><h3>Felis catus</h3></div></a></li>
				<li><a href="#"><img src="img/projects/2.jpg" /><div><h3>Felis catus</h3></div></a></li>
				<li><a href="#"><img src="img/projects/1.jpg" /><div><h3>Felis catus</h3></div></a></li>
				<li><a href="#"><img src="img/projects/2.jpg" /><div><h3>Felis catus</h3></div></a></li>
				<li><a href="#"><img src="img/projects/1.jpg" /><div><h3>Felis catus</h3></div></a></li>
				<li><a href="#"><img src="img/projects/2.jpg" /><div><h3>Felis catus</h3></div></a></li>
				<li><a href="#"><img src="img/projects/1.jpg" /><div><h3>Felis catus</h3></div></a></li>
				<li><a href="#"><img src="img/projects/2.jpg" /><div><h3>Felis catus</h3></div></a></li>
				<li><a href="#"><img src="img/projects/1.jpg" /><div><h3>Felis catus</h3></div></a></li>
				<li><a href="#"><img src="img/projects/2.jpg" /><div><h3>Felis catus</h3></div></a></li>		
			</ul>	
			
		</div>
	</div>
</div>